page {
  background-color: #f4f4f4;
  padding-bottom: 140rpx;
}

.empty {
  border-radius: 15rpx;
  margin: 10rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  .emptyimage {
    margin-top: 188rpx;
    margin-bottom: 30rpx;
    width: 288rpx;
  }
}
.emptytext {
  text-align: center;
  color: #9f9f9f;
}

.noempty {
  .alltitle {
    display: flex;
    padding: 25rpx 35rpx;
    font-size: 25rpx;
    text-align: center;
    .arrow {
      margin-left: 8rpx;
      text-align: center;
    }
  }
  .cartall {
    .cart {
      border-radius: 25rpx;
      margin-left: 20rpx;
      margin-right: 20rpx;
      margin-bottom: 30rpx;
      padding: 10rpx;
      background-color: #fff;
      .slideview {
        .mp {
          display: flex;
          label {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .ccbox {
              display: flex;
              justify-content: center;
              align-items: center;

              .tui .wx-checkbox-input {
                border-radius: 50%;
                width: 35rpx;
                height: 35rpx;
              }
              .tui .wx-checkbox-input.wx-checkbox-input-checked {
                background: var(--themeColorqq); /*设置选中的背景颜色*/
                border: 1px solid var(--themeColorqq); /*设置选中的背景颜色*/
              }
              .tui .wx-checkbox-input.wx-checkbox-input-checked::before {
                width: 40rpx; /* 选中后对勾大小 */
                height: 40rpx; /* 选中后对勾大小 */
                /* 对勾大小30rpx */
                color: #ffffff; /* 对勾颜色 白色 */
              }
            }
          }

          .cimage {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10rpx;

            margin-bottom: 15rpx;
            .nimage {
              height: 100%;
              width: 100%;
              .ccimg {
                border-radius: 25rpx;
                width: 90%;
              }
            }
          }
          .goods_content {
            flex: 4;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .goods_title {
              display: -webkit-box;
              overflow: hidden;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              color: #666;
            }

            .goods_tool_price {
              justify-content: space-between;
              display: flex;

              .price {
                color: var(--themeColorqq);
                font-size: 34rpx;
              }

              .tool_r {
                margin-bottom: 15rpx;
                margin-right: 10rpx;
                display: flex;
                .control {
                  margin-top: 14rpx;
                  float: right;
                  height: 50rpx;
                  width: 50rpx;
                  background-color: #e3e3e3;
                  text-align: center;
                  line-height: 50rpx;
                  color: rgb(27, 27, 27);
                  font-size: 36rpx;
                  border-radius: 5rpx;
                  margin-left: 4rpx;
                }
                .num {
                  width: 50rpx;
                  font-size: 26rpx;
                  background-color: #f0f0f0;
                  font-family: Arial, Helvetica, sans-serif;
                }
                .a1 {
                  background-color: #f0f0f0;
                  color: #cecece;
                }
              }
            }
          }
        }
      }
    }
  }
  //底部
  .Settlement {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110rpx;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rpx;
    background-color: #fff;
    .Settlement_cview {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      .Settlementbox {
        .ttui .wx-checkbox-input {
          border-radius: 50%;
          width: 35rpx;
          height: 35rpx;
        }
        .ttui .wx-checkbox-input.wx-checkbox-input-checked {
          background: var(--themeColorqq); /*设置选中的背景颜色*/
          border: 1px solid var(--themeColorqq); /*设置选中的背景颜色*/
        }
        .ttui .wx-checkbox-input.wx-checkbox-input-checked::before {
          width: 40rpx; /* 选中后对勾大小 */
          height: 40rpx; /* 选中后对勾大小 */
          /* 对勾大小30rpx */
          color: #ffffff; /* 对勾颜色 白色 */
        }
      }
    }

    .total_price {
      flex: 5;

      //文字右对齐
      text-align: right;
      padding-right: 15rpx;

      .total_price_text {
        color: var(--themeColorqq);
        font-size: 34rpx;
        font-weight: 600;
      }
      view {
        font-size: 30rpx;
      }
    }

    .order_pay_wrap {
      border-radius: 40rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 32rpx;
      font-weight: 600;
      flex: 3;
      background-color: var(--themeColorqq);
      height: 80%;
    }
    .a0 {
      background-color: #cccccc;
    }
  }
}
